@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  font-family: 16px;
}

h1 {
  font-size: 2rem;
  margin: 0.5em auto;
}

h2 {
  font-size: 1.4rem;
  margin: 0.5em auto;
}

h3{
  font-size: 1.2rem;
  margin: 0.5em auto;
}
